@page
@model SuperHeroSocialClubLight.Pages.Superhero.SignupModel
@{
}

<form method="post">
	<label>Superhero Name:</label>
	<input type="name" placeholder="Supername" asp-for="@Model.Name" />
	<label>Secret identity:</label>
	<input type="secretidentity" placeholder="Secret Identity" asp-for="@Model.SecretIdentity" />
	<label>Super powers</label>
	<input type="Text" placeholder="" asp-for="@Model.SuperPowers[0]" />
	<input type="Text" placeholder="" asp-for="@Model.SuperPowers[1]" />
	<input type="Text" placeholder="" asp-for="@Model.SuperPowers[2]" />
	<input type="Text" placeholder="" asp-for="@Model.SuperPowers[3]" />

	<input class="btn btn-danger" type="submit" value="Sign up as a superhero!" />
</form>